@media only screen and (max-width: 1024px) {
    .logo {
        width: 800px;
        font-size: 11.0vw;
        text-align: center;
    }
}
@media only screen and (max-width: 900px) {
    .logo {
        width: 700px;
        font-size: 11.0vw;
    }
}
@media only screen and (max-width: 800px) {
    .logo {
        width: 500px;
        font-size: 6.25vw;
    }
}
@media only screen and (max-height: 768px) {
    .contact-form {
        top: 10px;
    }
    .mouse {
        top: auto;
        bottom: 350px;
    }
    .logo {
        top: 350px;
    }
    .second-logo {
        top: 255px;
    }
}
@media only screen and (min-width: 481px) {
    .slide > div,
    .slide {
        height: 955px !important;
        min-height: 955px !important;
        position: relative;
    }
    body {
        height: 4775px;
        min-height: 955px !important;
    }
}


@media only screen and (max-width: 480px) {
    body {
        height: 100%;
        min-height: 100%;
    }
    main {
        position: relative;
    }
    .mouse {
        display: none;
    }
    .nav a:focus {
        outline: none;
    }
}